/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.09em;
}

a {
    text-decoration:none;
}

p {
    margin: 0.75rem 0;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.text-primary {
    /* color: #93cb52; */
    color: #ff8260;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #ff8260;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #cc6240;
}

.btn-dark {
    color: #fff;
    background-color: #33313b;
}

.btn-dark:hover{
    background-color:#444;
}

.bg-light {
    background-color: #f4f4f4;
    color: #33313b;
}

.bg-dark {
    background-color: #33313b;
    color: #fff;
}

.bg-primary {
    background-color: #cc6240;
    color: #fff;
}

.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.py-1{ padding: 1.5rem 0;}
.py-2{ padding: 2rem 0;}
.py-3{ padding: 3rem 0;}

.list {
    margin: 0.5rem 0;
    list-style-type: none;
}

.list li {
    /* margin: 0.5rem 0; */
    padding: 0.5rem 0;
    border-bottom:1px #444 dotted;    
}

/* Navbar  */
#navbar {
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0;
    /* background-color: #333; */
    background-color: #33313b;
    color: #fff;
    /* color: #ff4057; */
    z-index: 1;
    /* opacity: 0.9; */
    padding: 1rem;
}

#navbar .logo a i{
    color: #ff8260;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#navbar ul li a{
    padding: 0.75rem;
    color: #fff;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    /* background-color: #93cb52; */
    background-color: #ff8260;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    position: relative;
    background: url('../images/showcase-compressed.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

.showcase-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* Overlay */
    position: absolute;
    top: 0; 
    /* left:0;
    right:0; */
    background-color: rgba(0,0,0,0.6);
}

#arrow-up {
    visibility: hidden;
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 3rem;
    color: #ff8260;
    /* background-color: #33313b; */
    padding: 0.7rem;
    /* border-radius: 50%; */
    z-index: 2;
    transition: all 0.1s
}

#arrow-up:hover {
    transform: scale(1.2);
    background-color: #ddd;
    opacity: 0.7;
    border-radius: 100%;
}

/* Section : What We Do */
#what .items {
    display: flex;
    padding: 1rem;
}

#what .items .item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}


#what .items .item i {
    background-color: #ff8260;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Section: Who We Are */
#who .who-info-items {
    display: flex;
    padding: 30px;
}

#who .who-info-items div {
    flex: 1;
    margin: 1rem;
}

#who .who-info-items .who-info-pic {
    background: url('../images/people.jpg') no-repeat center center/cover;
}

#who .who-info-items .who-info-content {
    line-height: 1.1;
}

/* Section: Clients */

#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}

/* Section: Contacts */
#contact {
    display: flex;
}

#contact .contact-form,
#contact #map {
    flex:1;
    flex-basis: 50%;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form .form-group label {
    display: block;
}

#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
    width: 100%;
    padding: 0.5rem;
}

/* Footer */
.main-footer {
    text-align: center;
}


