/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a {
    text-decoration:none;
}

p {
    margin: 0.75rem 0;
}

/* Utility Classes */
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.text-primary {
    color: #93cb52;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #7ab436;
}

.btn-dark {
    color: #fff;
    background-color: #333;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-dark {
    background-color: #333;
    color: #fff;
}

.bg-primary {
    background-color: #7ab436;
    color: #fff;
}

.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.py-1{ padding: 1.5rem 0;}
.py-2{ padding: 2rem 0;}
.py-3{ padding: 3rem 0;}

.list {
    margin: 0.5rem 0;
    list-style-type: none;
}

.list li {
    /* margin: 0.5rem 0; */
    padding: 0.5rem 0;
    border-bottom:1px #444 dotted;    
}

/* Navbar  */
#navbar {
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0;
    background-color: #333;
    color: #fff;
    z-index: 1;
    opacity: 0.9;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

#navbar ul li a{
    padding: 0.75rem;
    color: #fff;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background-color: #93cb52;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    background: url('../images/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

.showcase-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* Overlay */
    position: absolute;
    top: 64.5px; 
    /* left:0;
    right:0; */
    background-color: rgba(0,0,0,0.6);
}

/* Section : What We Do */
.items {
    display: flex;
    padding: 1rem;
}

.item{
    flex: 1;
    text-align: center;
    padding: 1rem;
}


.item i {
    background-color: #93cb52;
    padding: 1rem;
    border-radius: 50%;
}

/* Section: Who We Are */
#who .who-info-items {
    display: flex;
    padding: 30px;
}

#who .who-info-items div {
    flex: 1;
    margin: 2rem;
}

#who .who-info-items .who-info-pic {
    background: url('../images/people.jpg') no-repeat center center/cover;
}

#who .who-info-items .who-info-content {
    line-height: 1.1;
}

/* Section: Clients */

#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}

/* Section: Contacts */
#contact {
    display: flex;
}

#contact div {
    flex:1;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form .form-group label {
    display: block;
}

#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
    width: 100%;
    padding: 0.5rem;
}

/* Footer */
.main-footer {
    text-align: center;
}